.btn {
    width: 60px;
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50%;
    display: flex;
    color: #636363;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: #e0e0e0;
    box-shadow: -10px -10px 20px #c5c5c5,
        10px 10px 20px #fbfbfb;
}

.btn:hover {
    background-color: rgb(219, 219, 219);
}

@media screen and (max-width:576px) {
    .btn {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
}