.btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    color: #636363;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background: #e0e0e0; */
    box-shadow: -10px -10px 20px #c5c5c5,
        10px 10px 20px #fbfbfb;

    }

.btn:hover{
    background-color: rgb(219, 219, 219);
}